{
    "Global": {
        "Chroot": {
            "Directory": "%h",
            "StartPath": "sftp"
        },
        "Directories": ["sftp"]
    },
    "Users": [
        {
            "Username": "{{ sftp_user }}",
            "Password": "{{ sftp_password }}"
        }
    ]
}
