global:
  checkNewVersion: false
  sendAnonymousUsage: false

accessLog: {}

log:
  level: DEBUG

api:
  dashboard: true
  insecure: true
  debug: false

entryPoints:
  web:
    address: :80
    http:
  minio-console:
    address: :9001
  minio-api:
    address: :9000
      

http:
  routers:
    duckdb-server-router:
      rule: "Host(`{{ hostvars['duckdb-server-0'].ansible_host }}`)" 
      entryPoints:
        - web
      middlewares:
        - basic-auth
      service: duckdb-server

    storage-console-server-router:
      rule: "PathPrefix(`/`)" 
      entryPoints:
        - minio-console
      middlewares:
        - basic-auth
      service: storage-console-server
    
    storage-api-server-router:
      rule: "PathPrefix(`/`)" 
      entryPoints:
        - minio-api
      service: storage-api-server

  middlewares:
    basic-auth:
      basicauth:
        users:
          - "{{ traefik_basic_auth_user }}:{{ traefik_basic_auth_encrypt_password }}"

  services:
    duckdb-server:
      loadBalancer:
        servers:
          - url: http://duckdb-query-service:8007

    storage-console-server:
      loadBalancer:
        servers:
          - url: http://minio:9001
        passHostHeader: true
        

    storage-api-server:
      loadBalancer:
        servers:
          - url: http://minio:9000

providers:
  docker:
    exposedByDefault: false
    endpoint: 'unix:///var/run/docker.sock'
    watch: true
  file:
    filename: /etc/traefik/traefik.yml
    watch: true
  