global:
  checkNewVersion: false
  sendAnonymousUsage: false

accessLog: {}

log:
  level: DEBUG

api:
  dashboard: true
  insecure: true
  debug: false

entryPoints:
  web:
    address: :80
    http:
  minio-console:
    address: :9001
  minio-api:
    address: :9000
  prometheus:
    address: :9092
  loki:
    address: :3100
  grafana:
    address: :3000
  alertmanager:
    address: :9095
  node-exporter:
    address: :9100
      

http:
  routers:
    duckdb-server-router:
      rule: "Host(`{{ hostvars['duckdb-server-0'].ansible_host }}`)" 
      entryPoints:
        - web
      middlewares:
        - basic-auth
      service: duckdb-server

    storage-console-server-router:
      rule: "PathPrefix(`/`)" 
      entryPoints:
        - minio-console
      service: storage-console-server
    
    storage-api-server-router:
      rule: "PathPrefix(`/`)" 
      entryPoints:
        - minio-api
      service: storage-api-server
    
    prometheus-server-router:
      rule: "Host(`{{ hostvars['storage-server-0'].ansible_host }}`)"
      entryPoints:
        - prometheus
      middlewares:
        - basic-auth
      service: prometheus-server
    
    loki-server-router:
      rule: "PathPrefix(`/`)" 
      entryPoints:
        - loki
      middlewares:
        - basic-auth
      service: loki-server

    grafana-server-router:
      rule: "PathPrefix(`/`)" 
      entryPoints:
        - grafana
      service: grafana-server

    alertmanager-server-router:
      rule: "PathPrefix(`/`)" 
      entryPoints:
        - alertmanager
      service: alertmanager-server

    node-exporter-server-router:
      rule: "PathPrefix(`/`)" 
      entryPoints:
        - node-exporter
      service: node-exporter-server

  middlewares:
    basic-auth:
      basicauth:
        users:
          - "{{ traefik_basic_auth_user }}:{{ traefik_basic_auth_encrypt_password }}"

  services:
    duckdb-server:
      loadBalancer:
        servers:
          - url: http://duckdb-query-service:8007

    storage-console-server:
      loadBalancer:
        servers:
          - url: http://minio:9001
        passHostHeader: true
        

    storage-api-server:
      loadBalancer:
        servers:
          - url: http://minio:9000
        passHostHeader: true
    
    prometheus-server:
      loadBalancer:
        servers:
          - url: http://prometheus:9090
        passHostHeader: true

    loki-server:
      loadBalancer:
        servers:
          - url: http://loki:3100
        passHostHeader: true
    
    grafana-server:
      loadBalancer:
        servers:
          - url: http://grafana:3000
        passHostHeader: true

    alertmanager-server:
      loadBalancer:
        servers:
          - url: http://alertmanager:9095
        passHostHeader: true
    
    node-exporter-server:
      loadBalancer:
        servers:
          - url: http://node-exporter:9100
        passHostHeader: true

providers:
  docker:
    exposedByDefault: false
    endpoint: 'unix:///var/run/docker.sock'
    watch: true
  file:
    filename: /etc/traefik/traefik.yml
    watch: true
  